.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 120px;
  width: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  margin-top: 5px;
  float:left;

}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:rgb(3, 17, 27);
}
.card > .img-container > .img {
  width: 10%
}

.img-thumbnail {
  width: 100%;
}
.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 9px;
}

